<%= render 'shared/player_header' %>
<!-- Condition display data only if team has played that round -->
<% if @sf_player_dashboard_totals.body["resultSets"][0]["rowSet"] != [] %>  

<!-- Main Pane -->
<div class="main">
	<div class="page-sub-nav">
	  <h4>Team Contribution: Semifinals<h4>  	
	</div>
	<div class="col-md-8">
	  <!-- MINUTES -->
	  <div class="row">
    	<div class="col-md-5 stat-name">
	        <h3>Minutes</h3>
    	</div>
	  	<div class="col-md-6 overview-bars-first">
		  <div class="row" style="margin-bottom: 15px;">
		  	<div class="col-xs-6 player-data">
		  		<h4><%= @po_playerdata[0]["DISPLAY_FI_LAST"] %></h4>
		  	</div>
		  	<div class="col-xs-6 team-data" style="text-align:right;">
		  		<h4><%= @po_playerdata[0]["TEAM_ABBREVIATION"] %></h4>
		  	</div>
		  </div>
	      <div class="progress">
	          <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["MIN"].to_f / (@po_playerteamdata[0]["MIN"] * 5).to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["MIN"].to_f / (@po_playerteamdata[0]["MIN"] * 5).to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data">
		      <p><%= @po_PlayerTotalsdata[0]["MIN"].round %> Minutes</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["MIN"].round * 5 %> Minutes</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->
    	<!-- <div class="col-md-3 stat-logo">
    		<img src="http://stats.nba.com/media/img/teams/logos/<%= @po_playerdata[0]["TEAM_ABBREVIATION"] %>_logo.svg" width="90">
    	</div> -->
	  </div><!-- END MINUTES -->

	   <!-- TOUCHES -->
	  <div class="row">
    	<div class="col-md-5 stat-name">
	        <h3>Touches</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">
	      <div class="progress">
	          <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_player_touches_total[0][15].to_f / @po_team_touches_total[0]["TCH_TOT"].to_f * 100 %>%;">      
                    <%= (@po_player_touches_total[0][15].to_f / @po_team_touches_total[0]["TCH_TOT"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data">
		      <p><%= @po_player_touches_total[0][15] %> Touches</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_team_touches_total[0]["TCH_TOT"] %> Touches</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->   	
	  </div><!-- END TOUCHES -->

	  <!-- AST -->
	  <div class="row">
    	<div class="col-md-5 stat-name-orange">
    	  <!-- Collapse button -->
		  <a data-toggle="collapse" href="#collapseAST" aria-expanded="true" aria-controls="collapseAST" title="Expand to see Passes">
	        <h3><span class="glyphicon glyphicon-plus-sign glyphicon-orange" aria-hidden="true"></span> AST</h3>
	      </a>
	      <!-- End collapse button -->
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["AST"].to_f / @po_playerteamdata[0]["AST"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["AST"].to_f / @po_playerteamdata[0]["AST"].to_f * 100).to_i %>%
              </div>
              <div class="progress-bar progress-bar-dk-orange" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:  <%= @po_player_total_ast_recd.inject(:+).to_f / @po_playerteamdata[0]['AST'].to_f * 100 %>%;">      
                 <%= (@po_player_total_ast_recd.inject(:+).to_f / @po_playerteamdata[0]['AST'].to_f * 100).to_i %>%        
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-orange">
		      <p><%= @po_PlayerTotalsdata[0]["AST"] %> Assists Made<br/><span class="player-data-dk-orange"> <%= @po_player_total_ast_recd.inject(:+) %> Assists Received</span></p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["AST"] %> AST</p>
		    </div>
		  </div>
	    </div>
	    <!-- END overview-bars -->    	
	  </div>
	  <!-- END AST -->

	  <!-- Start collapse -->
	  <div class="collapse" id="collapseAST">
	  <!-- PASSES -->
	  <div class="row">
    	<div class="col-md-5 stat-name-orange">
	        <h3>PASSES</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_player_total_passes.inject(:+).to_f / @po_team_passes_total.inject(:+).to_f * 100 %>%;">
	           <%= (@po_player_total_passes.inject(:+).to_f / @po_team_passes_total.inject(:+).to_f * 100).to_i %>% 
              </div>
              <div class="progress-bar progress-bar-dk-orange" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width:  <%= @po_player_total_pass_recd.inject(:+).to_f / @po_team_passes_total.inject(:+).to_f * 100 %>%;">      
                  <%= (@po_player_total_pass_recd.inject(:+).to_f / @po_team_passes_total.inject(:+).to_f * 100).to_i %>%        
               </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-orange">
		      <p><%= @po_player_total_passes.inject(:+) %> Passes Made<br/><span class="player-data-dk-orange"> <%= @po_player_total_pass_recd.inject(:+) %> Passes Received</span></p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_team_passes_total.inject(:+) %> Passes</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END PASSES -->
	  </div>
	  <!-- END collapse -->

	  <!-- REB -->
	  <div class="row">
    	<div class="col-md-5 stat-name-lt-blue">
    	  <!-- Collapse button -->
		  <a data-toggle="collapse" href="#collapseREB" aria-expanded="true" aria-controls="collapseREB" title="Expand to see Offensive and Defensive Rebounds">
	        <h3><span class="glyphicon glyphicon-plus-sign glyphicon-lt-blue" aria-hidden="true"></span> REB</h3>
	      </a>
	      <!-- End collapse button -->
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["REB"].to_f / @po_playerteamdata[0]["REB"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["REB"].to_f / @po_playerteamdata[0]["REB"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-lt-blue">
		      <p><%= @po_PlayerTotalsdata[0]["REB"] %> REB</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["REB"] %> REB</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END REB -->

	  <!-- Start collapse -->
	  <div class="collapse" id="collapseREB">
	  <!-- OREB -->
	  <div class="row">
    	<div class="col-md-5 stat-name-lt-blue">
	        <h3>OREB</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["OREB"].to_f / @po_playerteamdata[0]["OREB"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["OREB"].to_f / @po_playerteamdata[0]["OREB"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-lt-blue">
		      <p><%= @po_PlayerTotalsdata[0]["OREB"] %> OREB</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["OREB"] %> OREB</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END OREB -->

	  <!-- DREB -->
	  <div class="row">
    	<div class="col-md-5 stat-name-lt-blue">
	        <h3>DREB</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["DREB"].to_f / @po_playerteamdata[0]["DREB"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["DREB"].to_f / @po_playerteamdata[0]["DREB"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-lt-blue">
		      <p><%= @po_PlayerTotalsdata[0]["DREB"] %> DREB</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["DREB"] %> DREB</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END DREB -->
	  </div>
	  <!-- END collapse -->

	  <!-- POINTS -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
    	  <!-- Collapse button -->
		  <a data-toggle="collapse" href="#collapsePTS" aria-expanded="true" aria-controls="collapsePTS" title="Expand to see FG, FG3, and FT makes and attempts">
	        <h3><span class="glyphicon glyphicon-plus-sign glyphicon-green" aria-hidden="true"></span> PTS</h3>
	      </a>
	      <!-- End collapse button -->
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["PTS"].to_f / @po_playerteamdata[0]["PTS"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["PTS"].to_f / @po_playerteamdata[0]["PTS"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["PTS"] %> Points</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["PTS"] %> Points</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END POINTS -->

	  <!-- Start collapse -->
	  <div class="collapse" id="collapsePTS">
	  <!-- FGM -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
	        <h3>FGM</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["FGM"].to_f / @po_playerteamdata[0]["FGM"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["FGM"].to_f / @po_playerteamdata[0]["FGM"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["FGM"] %> FGM</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["FGM"] %> FGM</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END FGM -->

	  <!-- FGA -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
	        <h3>FGA</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["FGA"].to_f / @po_playerteamdata[0]["FGA"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["FGA"].to_f / @po_playerteamdata[0]["FGA"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["FGA"] %> FGA</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["FGA"] %> FGA</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END FGA -->

	  <!-- FG3M -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
	        <h3>FG3M</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["FG3M"].to_f / @po_playerteamdata[0]["FG3M"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["FG3M"].to_f / @po_playerteamdata[0]["FG3M"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["FG3M"] %> FG3M</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["FG3M"] %> FG3M</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END FG3M -->

	  <!-- FG3A -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
	        <h3>FG3A</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["FG3A"].to_f / @po_playerteamdata[0]["FG3A"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["FG3A"].to_f / @po_playerteamdata[0]["FG3A"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["FG3A"] %> FG3A</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["FG3A"] %> FG3A</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END FG3A -->

	  <!-- FTM -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
	        <h3>FTM</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["FTM"].to_f / @po_playerteamdata[0]["FTM"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["FTM"].to_f / @po_playerteamdata[0]["FTM"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["FTM"] %> FTM</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["FTM"] %> FTM</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END FTM -->

	  <!-- FTA -->
	  <div class="row">
    	<div class="col-md-5 stat-name-green">
	        <h3>FTA</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["FTA"].to_f / @po_playerteamdata[0]["FTA"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["FTA"].to_f / @po_playerteamdata[0]["FTA"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-green">
		      <p><%= @po_PlayerTotalsdata[0]["FTA"] %> FTA</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["FTA"] %> FTA</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END FTA -->
	  </div>
	  <!-- END collapse -->

	  <!-- STL -->
	  <div class="row">
    	<div class="col-md-5 stat-name-purple">
	        <h3>STL</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["STL"].to_f / @po_playerteamdata[0]["STL"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["STL"].to_f / @po_playerteamdata[0]["STL"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-purple">
		      <p><%= @po_PlayerTotalsdata[0]["STL"] %> STL</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["STL"] %> STL</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END STL -->

	  <!-- BLK -->
	  <div class="row">
    	<div class="col-md-5 stat-name-purple">
	        <h3>BLK</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["BLK"].to_f / @po_playerteamdata[0]["BLK"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["BLK"].to_f / @po_playerteamdata[0]["BLK"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-purple">
		      <p><%= @po_PlayerTotalsdata[0]["BLK"] %> BLK</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["BLK"] %> BLK</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END BLK -->

	  <!-- PFD -->
	  <div class="row">
    	<div class="col-md-5 stat-name-purple">
	        <h3>PFD</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-purple" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["PFD"].to_f / @po_playerteamdata[0]["PFD"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["PFD"].to_f / @po_playerteamdata[0]["PFD"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-purple">
		      <p><%= @po_PlayerTotalsdata[0]["PFD"] %> PFD</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["PFD"] %> PFD</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END PFD -->

	  <!-- TOV -->
	  <div class="row">
    	<div class="col-md-5 stat-name-red">
	        <h3>TOV</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["TOV"].to_f / @po_playerteamdata[0]["TOV"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["TOV"].to_f / @po_playerteamdata[0]["TOV"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-red">
		      <p><%= @po_PlayerTotalsdata[0]["TOV"] %> TOV</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["TOV"].round %> TOV</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END TOV -->

	  <!-- BLKA -->
	  <div class="row">
    	<div class="col-md-5 stat-name-red">
	        <h3>BLKA</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["BLKA"].to_f / @po_playerteamdata[0]["BLKA"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["BLKA"].to_f / @po_playerteamdata[0]["BLKA"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-red">
		      <p><%= @po_PlayerTotalsdata[0]["BLKA"] %> BLKA</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["BLKA"] %> BLKA</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END BLKA -->

	  <!-- PF -->
	  <div class="row">
    	<div class="col-md-5 stat-name-red">
	        <h3>PF</h3>
    	</div>
	  	<div class="col-md-6 overview-bars">	  
	      <div class="progress">
	          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: <%= @po_PlayerTotalsdata[0]["PF"].to_f / @po_playerteamdata[0]["PF"].to_f * 100 %>%;">
	           <%= (@po_PlayerTotalsdata[0]["PF"].to_f / @po_playerteamdata[0]["PF"].to_f * 100).to_i %>%
              </div>
          </div>
          <div class="row">
		    <div class="col-xs-6 player-data-red">
		      <p><%= @po_PlayerTotalsdata[0]["PF"] %> PF</p>
		    </div>
		    <div class="col-xs-6 team-data" style="text-align:right">
		      <p><%= @po_playerteamdata[0]["PF"] %> PF</p>
		    </div>
		  </div>
	    </div><!-- END overview-bars -->    	
	  </div><!-- END PF -->

	</div>
	
	<div class="col-md-3 stat-logo">
		<%= render "shared/rt_sidebar" %>
	</div>
<!-- Message when the condition isn't met -->	
<% else %>
<h4> no data </h4>
<% end %> 
</div><!-- END Main Pane -->